@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFF8E5;
    color: #332600;
    font-family: 'Familjen Grotesk', sans-serif;
    width: 100%;
    height: 100%;
}

a {
    color: #332600;
}
