.books {
    display: grid;
    padding: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 40px;
    background-color: #EEE3C4;
}

.books:empty {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    color: #998C66;
}

.books:empty::before {
    content: "Nenhuma obra encontrada";
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-align: center;
    width: 100%;
    height: 200px;
}

@media screen and (max-width: 1000px) {
    .books {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 700px) {
    .books {
        grid-template-columns: 1fr;
    }
}
