.header { 
    padding: 20px 20px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
}

.logo {
    width: 60px;
}

.repo {
    font-size: 30px;
}
